.head {
    z-index: 2;
    width: 100%;
    text-align: center;
    background-color: #eb4630;
    padding: .2rem 0 .8rem 0;

    @include small {
        position: absolute;
        background-color: rgba(#ff8777, .5);
    }

    @include medium {
        padding: 18px 0;
        
    }

    &__title {
        font-family: Microgramma;
        color: #fff;
        letter-spacing: 2px;
        display: inline-block;
        font-size: 2.4rem;
        text-shadow: 2px 1px 2px #ff8777;
        padding: 0 .5rem .5rem .5rem;
        margin-bottom: .3rem;
        border-bottom: 2px solid #fff;

        @include medium {
            text-shadow: 2px 1px 2px #eb4630;
            margin-left: 15px;
            border-bottom: none;
            font-size: 2.8rem;
            position: absolute;
            top: 5px;
            padding: 0;
            display: block;
        }
    } 

    &__large-img {
        position: relative;
        width: 100%;
    }

    &__nav {
        width: 385px;
        margin-right: auto;
        margin-left: auto;

        @include medium{
            width: 700px;
            float: right;
            @include clearfix;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            display: inline-block;
            padding: 0 10px 0 10px;

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            font-family: Microgramma;
            color: #fff;
            letter-spacing: 1px;
            text-decoration: none;
            display: block;
            font-size: 1.4rem;

            @include medium {
                font-size: 1.8rem;
            }
        }
    }
}

